{% extends 'main/base.html' %}

{% block content %}
    {% if object.client_owner == request.user and not request.user.is_staff or request.user.is_superuser %}
    <div class="row flex-wrap">
        <div class="col-md-10">
            <div class="card">
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" class="btn btn-secondary m-2"
                               value="{% if object %}Изменить{% else %}Добавить{% endif %}">
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}