<div class="col-sm-4 offset-md-1 py-4">
    <h4 class="text-white">Меню</h4>
    <ul class="list-unstyled">
        <li><a href="{% url 'main:index' %}" class="text-white">Главная</a></li>
        {% if perms.main.view_customer %}
            <li><a href="{% url 'main:customers' %}" class="text-white">Клиенты</a></li>
        {% endif %}
        {% if perms.main.view_messages %}
            <li><a href="{% url 'main:messages' %}" class="text-white">Сообщения</a></li>
        {% endif %}
        {% if perms.main.view_sendingsettings %}
            <li><a href="{% url 'main:sendingsettings' %}" class="text-white">Рассылки</a></li>
        {% endif %}
        {% if perms.main.view_log %}
            <li><a href="{% url 'main:logs' %}" class="text-white">Логи</a></li>
        {% endif %}
        {% if perms.main.view_blog %}
            <li><a href="#" class="text-white">Блог</a></li>
        {% endif %}
        {% if perms.users.view_user %}
            <li><a href="{% url 'users:users_list' %}" class="text-white">Пользователи</a></li>
        {% endif %}
        <br>
        {% if user.is_authenticated %}
            <li><a href="{% url 'users:logout' %}" class="text-white">Выйти</a></li>
            <li><a href="{% url 'users:profile' %}" class="text-white">Профиль</a></li>
        {% else %}
            <li><a href="{% url 'users:login' %}" class="text-white">Войти</a></li>
            <li><a href="{% url 'users:register' %}" class="text-white">Регистрация</a></li>
        {% endif %}
    </ul>
</div>